<% include ../partials/header %>
<div class="container">
    <div class="row">
		<div class="col-md-3">
			<p class="lead"><%= inspection.inspectionName %></p>
			<p>Created by: <em><%= inspection.author.username %></em></p>	
				<div class="list-group">
				<li class="list-group-item"><a href="/properties/<%= property._id %>/inspections/<%= inspection._id %>/entrance" class="btn btn-success">Entrance</a></li>
				<li class="list-group-item"><a href="/properties/<%= property._id %>/inspections/<%= inspection._id %>/reception" class="btn btn-success">Reception</a></li>
				<li class="list-group-item"><a href="/properties/<%= property._id %>/inspections/<%= inspection._id %>/kitchen" class="btn btn-success">Kitchen</a></li>
				<li class="list-group-item"><a href="/properties/<%= property._id %>/inspections/<%= inspection._id %>/storage" class="btn btn-success">Storage / Boiler Room</a></li>
				<li class="list-group-item"><a href="/properties/<%= property._id %>/inspections/<%= inspection._id %>/bedroom" class="btn btn-success">Bedroom</a></li>
				<li class="list-group-item"><a href="/properties/<%= property._id %>/inspections/<%= inspection._id %>/bathroom" class="btn btn-success">Bathroom</a></li>
				<li class="list-group-item"><a href="/properties/<%= property._id %>/inspections/<%= inspection._id %>/extra" class="btn btn-success">Extras / Additional Items</a></li>
				<li class="list-group-item"><a href="/properties/<%= property._id %>/inspections/<%= inspection._id %>/view" class="btn btn-info">Back</a></li>
				<li class="list-group-item"><a href="/properties/<%= property._id %>" class="btn btn-info">Back to <%= property.propertyName %></a></li>
				<li class="list-group-item"><a href="/properties" class="btn btn-info">Back to All Properties</a></li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<div class="caption-full">
					<h1>
						<%= property.propertyName %> / <%= inspection.inspectionName %> / Reception
					</h1>
				</div>
			</div>	
			
					<div class="col-md-10 col-sm-12">
						<div class="thumbnail">
							<div class="caption">
								
								<ul>
									<li>Floors: <%= reception.floor %></li>
									<li>Walls / Ceiling: <%= reception.walls %></li>
									<li>Lights: <%= reception.lights %></li>
									<li>Windows: <%= reception.windows %></li>
									<li>Blinds: <%= reception.blinds %></li>
									<li>Heating: <%= reception.heating %></li>
									<li>Air Con: <%= reception.aircon %></li>
									<hr>
									<li>Wifi:
										<ul>
											<li>Comments:<%= reception.wifi.comments %></li>
											<li>Speed: <%= reception.wifi.speed %></li>
										</ul>
									</li>
									<li>Info Pack: <%= reception.infoPack %></li>
									<li>Decorations: <%= reception.decor %></li>
									<li>Television: <%= reception.tv %></li>
									<hr>
									<li>Sofa: <%= reception.sofa %></li>
									<li>Cushions: <%= reception.cushions %></li>
									<li>Dining Table: <%= reception.diningTable %></li>
									<li>Dining Chairs: <%= reception.diningChairs %></li>
									<hr>
									<li>Balcony: <%= reception.balcony %></li>
									<li>Balcony Furniture: <%= reception.balconyFurniture %></li>
									<hr>
									<li>Comments: <%= reception.comments %></li>	  
								</ul>
							</div>
								<p><a href="edit" class="btn btn-xs btn-warning">Edit</a></p>
								<form  class="deleteForm" action="/properties/<%=property._id %>/inspections/<%= inspection._id %>/reception/<%= reception._id %>?_method=DELETE" method="POST">
									<button class="btn btn-xs btn-danger">Delete</button>
								</form>
						</div>
					</div>
		</div>
	</div>
</div>




<a href="/properties">Go Back</a>
				
          
<% include ../partials/footer %>